## Own additions
*.blend1
*.blend2

## From http://t-machine.org/index.php/2012/07/03/unity-git-source-control-a-basic-gitignore/
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/
#/Library/FailedAssetImports.txt
#/Library/cache/
#/Library/previews/
#/Library/ScriptAssemblies
/obj
/Temp